@import url('http://fonts.cdnfonts.com/css/avenir-lt-std');
       
html{
    font-family: 'Avenir LT Std', sans-serif !important;   
}
body {
    background: linear-gradient(145deg, #542b25, #7e635c);
  }
p{
    margin: 0px !important;
    color: #b1b3a4;
}


.image{
 
    border: 2.5px solid rgb(246, 246, 246);
    
    
}


.buttons{
    display: flex; 
    
    flex-direction: column; 
    width: 100%;  
    justify-content: center; 
    align-items: center;
    
}

.linkBtn{
    padding: 20px; background-color: #8e5e50; color: white;
    text-decoration: none;
    width: 100%;
    text-align: center;
    margin: 4px 0px;
    max-width: 700px;
    border-radius: 50px;
    
}

.linkBtn:hover{
    border: 2.5px solid #3D3B3C;
    background-color: white;
    color: #3D3B3C;
    padding: 19px;
}