@import url('http://fonts.cdnfonts.com/css/avenir-lt-std');
       
html{
    font-family: 'Avenir LT Std', sans-serif !important;   
}

p{
    margin: 0px !important;
    color: azure;
}

body{
    background-color: #06283D;
}

.buttons{
    display: flex; 
    flex-direction: column; 
    width: 100%;  
    justify-content: center; 
    align-items: center;
}

.linkBtn{
    padding: 20px; background-color: #256D85; color: white;
    text-decoration: none;
    width: 100%;
    text-align: center;
    margin: 4px 0px;
    max-width: 700px;
    border-radius: 30px;
}

.linkBtn:hover{
    border: 2.5px solid #3D3B3C;
    background-color: white;
    color: #3D3B3C;
    padding: 19px;
}