body{
    background-color: bisque;
    font-family: 'Open Sans', sans-serif;
}
.profile-picture{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    height: auto;
    max-width: 150px;
    border-radius: 40%;
}
.profile-name{
    text-align: center;
    padding: 30px;
    font-size: 30px;
}
.Link{
    text-align: center;
    margin-top: 20px;
    border: 1px solid red;
    border-width: 2px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: crimson;
    transition: color 1s;
}
a:hover{
    color:black;
    background-color: white;
}