body
{
   background-color: rgb(212, 220, 208);
   margin:0%;
   text-align: center;
}

.heading
{
    margin:0%;
    padding: 24px;
    font-family: cursive;
}

.nav{
    color: rgb(11, 17, 17);
    padding:10px;
    margin: 10px;
    font-size: 40px;
}

.nv{
    background-color: rgb(249, 253, 244);
    padding: 10px;
    margin: 20;
}

.hi{
    color: rgb(52, 36, 4);
    text-align: left;
    font-size: 20px;
    background-color: rgb(218, 252, 156);
    padding: 0px;
    margin: 2px none 2px;
}

.portfolio{
    background-image: url('/background2.jpg');
    background-size: cover;
    font-size: 20px;
    background-size: 5%;
    padding: 0px;
    color: rgb(10, 10, 9);
}

.z
{
    left: 25%;
}

.heading{
    background-color: rgb(255, 205, 235);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hyper{
    background-color: rgb(251, 247, 241);
    margin-left: 0px;
}

.foot{
    color: beige;
    font-size: 40px;
    padding: 20px;
    height: 200px;
    background-color: rgb(71, 64, 71);
}

.social{
display: flex;
text-align: center;
margin: auto;
align-items: center;
width: 90px;
gap: 10px;
}

.soimg{
    align-items: center;
    width: 50px;
    height: 50px;
}

.work{
    background-color: rgb(186, 164, 206);
    font-size: 20px;
    padding: 5px;
    height: 5px;
    color: azure;
    border-width: 1px;
    border-color: black;
    margin-right: 40px;
    margin-top: 20px;
}

.slider-image{
    background-color: lavender;
    height: 50%;
    padding: 20px;
}

.about_me{
    background-color: lightcoral;
    font-size: 20 px;
    text-align: center;
}

.Hi{
    border-left: 1px;
}

.connect{
    background-color: rgb(187, 236, 219);
    align-items: center;
    padding: 40px;
}
.h{
    font-size: 30px;
    padding: 0;
    background-color: rgb(193, 241, 193);
    color: rgb(205, 255, 248);
}

.contact{
    background-color: rgb(175, 191, 201);
    align-items: center;
    margin-top: 50px;
}

.t{
    color: black
}

.t:visited{
    text-decoration: solid;
    color: azure;
}

.c{
    padding: 10px;
    background-color: rgb(192, 241, 241);
    color: black;
}

.flex{
    display: flex;
}