#myimg1 {
  width: 20rem;
  height: 20rem;
  align-items: center;
  margin-left: 37.5%;
  margin-right: 37.5%;
}

.container1 {
  display: flex;
  flex-direction: column;
}

.content {
  text-align: center;
}
