body {
    background-color: black;
    text-decoration: whitesmoke;
}
.myDiv{
    text-align: center;
}
h2{
    color: whitesmoke;
}
button{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 5.7%;
    padding-left: 5.7%;
    box-sizing: border-box;
    margin: 0.1%;
    background-color: aquamarine;
    border-radius: 17px;

}